
<span *ngFor="let icon of maxRatingArr;let index=index">
  <mat-icon  
  [ngClass]="{checked:rating_op>index}">star</mat-icon>
</span>
<div>
<ul *ngFor="let cmd of command_op">
  <li>{{cmd}}</li>
</ul>
</div>

<div   class="centered" id="viewer">
</div>
<span *ngFor="let icon of maxRatingArr; let index=index">
  <mat-icon  (mouseenter)="HandleMouseEnter(index)"
  (mouseleave)="HandleMouseLeave()"
  (click)="Rating(index)"
  [ngClass]="{checked:SelectedStar>index}">star</mat-icon>
</span>
<div>
  <span class="product-price-btn">
  <textarea [(ngModel)]="command" style="width: 75%;">HEllo </textarea>
  
</span>
</div>
<button (click)="onsubmit()">Submit</button>
